@model Product
<div class="row">
    <div class="col-md-6 img-container">

        <img src=@Model.ImageURl>
    </div>
    <div>
        <h3>Title</h3>
        <p>@Model.Title</p>
        <br />
        <h3>Price</h3>
        <p>@Model.Price</p>
        <br />
    </div>

    <form asp-action="AddToCart" asp-controller="Shop" asp-route-id="@Model.Id" class="d-flex align-items-center mb-4 pt-2">
        <div class="input-group quantity mr-3" style="width: 130px;">
            <div class="input-group-btn">
                <a class="btn btn-primary btn-minus">
                    <i class="fa fa-minus"></i>
                </a>
            </div>
            <input readonly name="amount" type="text" class="form-control bg-secondary border-0 text-center" value="1">
            <div class="input-group-btn">
                <a class="btn btn-primary btn-plus">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <button type="submit" class="btn btn-primary px-3">
            <i class="fa fa-shopping-cart mr-1"></i> Add To Cart
        </button>
    </form>
</div>